:root {
    --primary-text-colour: rgb(0, 0, 0);
    --title-text-colour: #000000;
    --accent-colour: #1d77de;
    --primary-white-colour: #ffffff;
    --primary-grey-colour:#f2f1f9;
    --primary-dark-colour:#23242c;
}

